<footer class="bg-primary mt-5">
  <div class="container d-flex justify-content-between color-me">
    <div class="copyright d-flex align-self-center">
      &copy; copyright Nurlela Manalu by Rizki Ashari
    </div>
  </div>
</footer>